<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {TITLE: 'edit zone' }) %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css">
</head>

<body class="layout layout-header-fixed">
    <div class="layout-header">
        <%- include('../partials/navbar', {TITLE:'edit zone'}) %>
    </div>
    <div class="layout-main">
        <%- include('../partials/sidebar') %>
        <div class="layout-content">
            <div class="layout-content-body">
                <% const old = flash('formData') %>
                <div class="card">
                    <div class="card-body">
                        <form id="form" data-toggle="validator" method="POST" action="<%= `/dashboard/zone/${zone.id}/edit` %>"  novalidate="novalidate">
                            <input type="hidden" name="location">
                            <input type="hidden" name="center">
                            <input type="hidden" name="name">
                            <input type="hidden" name="zoneId" value="<%=zone._id%>">
                            <div class="row">
                                <% languages.forEach(lang => { %>
                                    <div class="form-group col-md-2 p-x-5">
                                        <label class="control-label"> <%= `${t('name')} (${lang.nativeName})` %> *</label>
                                        <input class="form-control" name="<%= `name[${lang.language}]` %>" type="text"
                                            value="<%= zone.name[lang.language] %>"  required="" aria-required="true">
                                    </div>
                                <% }) %>

                                <div class="form-group col-md-2 p-x-5">
                                    <label for="address" class="control-label"> <%= t('status') %> </label>
                                    <select class="form-control" name="isActive" required="required" aria-required="true">
                                        <option value="true" <%= zone.isActive ? 'selected' : '' %> > <%= t('active') %> </option>
                                        <option value="false" <%= !zone.isActive ? 'selected' : '' %> ><%= t('deactivate') %> </option>
                                    </select>
                                </div>
                            </div>
                        </form>
                        <div id="map" style="height: 65vh;"></div>
                    </div>
                    <div class="card-footer"> 
                        <div class="col-md-12">
                            <input type="submit" form="form" class="btn btn-primary" value="<%= t('submit') %>">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <%- include('../partials/footer') %>
    </div>

    <%- include('../partials/theme') %>
    <%- include('../partials/scripts') %>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin="">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Turf.js/4.7.3/turf.min.js"></script>
    <script src="/public/js/areas.osm.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function(){
            
            var zoneInfo = <%- JSON.stringify(zone) %>;
            var zonePolygon = L.polygon(zoneInfo.location.coordinates.map(coord => [coord[1], coord[0]]));
            var zoneCenterMarker = L.marker([zoneInfo.center[1], zoneInfo.center[0]]);
            var zoneFeatureGroup =  new L.FeatureGroup().addLayer(zonePolygon).addLayer(zoneCenterMarker)
            var languages = <%- JSON.stringify(languages) %>;
            let name = new Object()
            var zone = new Areas({
                areas: [],
                areaType: 'zone',
                drawnItems: zoneFeatureGroup
            }).initializeOsm({elementId: 'map'}).initializeDrawManager({mode: 'editOnly'})

            $('form').submit(function(event){
                var form = event.target;
                var drawnItems = zone.getDrawnItemsGeoJson();
                if (!drawnItems.polygon || !drawnItems.marker) {
                    alert('Please draw the zone polygon and specify the zone center the on the map!');
                    return event.preventDefault();
                }
                if (zone.checkIntersections()) {
                    alert('Drawn zone should not intersect with another zones');
                    return event.preventDefault();
                }
                for (let lang of languages){

                    if(form[`name[${lang.language}]`]["value"]){

                        name[lang.language]=form[`name[${lang.language}]`]["value"]
                    }

                }
                form.name.value=JSON.stringify(name)

                form.location.value = JSON.stringify({
                    type: 'Polygon',
                    coordinates: drawnItems.polygon.coordinates[0]
                });
                form.center.value = JSON.stringify(drawnItems.marker.coordinates);

            });
        })
    </script>
</body>

</html>
